html {
    height: 100%;
    overflow: hidden;    
}

body {
    font-family: 'Helvetica Neue', Verdana;
    font-size: 15pt;
    color: #828282;
    width: 780px;
    margin: 6px auto;
    height: 100%;
    overflow: hidden;
}

td {
    font-family: 'Helvetica Neue', Verdana;
    font-size: 11pt;
    color: #828282;
    padding-left: 3px;
}


.header {
	font-size: 18px;
	margin: 0px auto;
}

.container {
	background-color: rgb(246, 246, 239);
    height: 100%;
    margin-bottom: 6px;
    overflow: hidden;
}

.header {
    background-color: #b4b4b4;
    height: 35px;
}

.topic {
    /*make footer fixed at the bottom of page*/
    min-height: 450px;
}

li {
	margin: 16px auto;
}

.timechoser {
    margin-bottom: 10px;
    text-align: center;
}

.button-primary {
    background-color: #b4b4b4 !important;
    border-color: #b4b4b4 !important;
}

.footer {
	font-size: 16px;
}


a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }
